label{
    display: inline-block;
    clear: left;
    width: 200px;
    text-align: left;
}

input {
  display: inline-block;
}

.navbar-default {
  background-color:white;
  background-image: none;
  background-repeat: no-repeat;
 }
